/* Размеры и положение элемента навигации */
.topnav {position: fixed;  
top: 0;  
z-index: 100;  
width: 100%;  
    background-color: #333;
    overflow: hidden;
}

/* Стиль ссылок внутри элемента навигации */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Изменение цвета ссылок при наведении */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Цвет для обозначение открытой страницы */
.topnav a.active {
    background-color: #6495ED   ;
    color: white;
}

.dima img {
   float: left;
   padding: 0 20px 20px 0;
}

.дима {margin-top: 10%}
.вероника {margin-top: -8.5%}

/* Значения цвета, расположения и размеров для текстов и заголовков */
h3 {color: white;}
.text {color: black;
font-size: xx-large;
position: relative;
top: -30px;}
.tx {color: black;
font-size: x-large;
position: relative;
top: -30px;}

/* Создание прямоугольника для описания */
.pr{background: #F0F8FF; /* Цвет прямоугольника */
    max-width: 70%; /* Значение ширины */
    padding: 2em; /* Отступ для текста внутри прямоугольника*/
    border-radius: 0 30px; /* Значения закругления уголов */
    /* Расположение на странице */
    position: relative; 
    top: 50px;
    left: 50px;
}

.g {color: black;
font-size: xx-large;
position: relative;
top: -20px;}
.tx1 {color: black;
position: relative;
top: -50px;}


.pr1{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: auto;
    border-radius: 0 30px;
    position: relative;
    top: 80px;
    left: 10%;
    opacity: 0.8; /* Параметр прозрачности */
}


.pr2{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: auto;
    border-radius: 0 30px;
    position: relative;
    top: 110px; 
    left: 10%;
    opacity: 0.8;
 }
.pr3{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: auto;
    border-radius: 0 30px;
    position: relative;
    top: 140px;
    left: 10%;
    opacity: 0.8;
        }
.pr4{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: auto;
    border-radius: 0 30px;
    position: relative;
top: 50px;
left: 50px;
}

.pr5{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: auto;
    border-radius: 0 30px;
    position: relative;
    top: 50px;
    left: 50px;
}  
.pr6{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: 1px;
    border-radius: 0 30px;
    position: relative;
    top: 10px;
    left: 50px;
}  


.pr7{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: auto;
    border-radius: 0 30px;
    position: relative;
top: 100px; 
left: 50px;
    }  
 .pr8{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: auto;
    border-radius: 0 30px;
    position: relative;
top: 100px;
left: 50px;
    }  
 .pr9{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: 1px;
    border-radius: 0 30px;
    position: relative;
top: 5px; 
left: 50px;
    }  

 .pr10{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: auto;
    border-radius: 0 30px;
    position: relative;
    top: 170px; 
    left: 10%;
    opacity: 0.8;
        }
 .pr11{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: auto;
    border-radius: 0 30px;
    position: relative;
    top: 200px;
    left: 10%;
    opacity: 0.8;
        }
 .pr12{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: auto;
    border-radius: 0 30px;
    position: relative;
top: 170px; 
left: 50px;
    }  
 .pr13{background: #F0F8FF;
    padding: 2em;
    max-width: 79%;
    height: auto;
    border-radius: 0 30px;
    position: relative;
    top:230px; 
    left: 10%;
    opacity: 0.8;
        }  


.p1 {font-size: xx-large}
.topnav h {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.raz {width: 100%;}
.w {width:90%;
    text-align: center;}